* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    /* transition: 0.6s ease; */
}
:root {
    --main-color: #2980b9;
    --light-color: #777777;
    --light-bg: #eee;
    --black: #2c3e50;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    --border: .1rem solid rgba(0, 0, 0, .3);
}
*::selection {
    background-color: var(--main-color);
    color: var(--white);
}
::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--black);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body {
    background-color: var(--light-bg);
}
section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
::placeholder {
    font-size: 1.5rem;
}
img {
    width: 100%;
}
video {
    width: 100%;
}

/* ===== Header Section Start===== */
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.headerInfo {
    width: 100%;
    background-color: var(--main-color);
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerInfo button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.communicate {
    display: flex;
    gap: 1.3rem;
}
.communicate h4 {
    font-size: 1.3rem;
    color: var(--white);
}
.communicate h3{
    font-size: 1.5rem;
    color: var(--white);
}
.communicate p {
    font-size: 1.5rem;
    color: var(--white);
    text-transform: lowercase;
}
.navbar {
    width: 100%;
    position: fixed;
    top: 42px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    background-color: var(--white);
    z-index: 1000;
}
.navbar.sticky {
    top: 0;
    left: 0;
}
.logo {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--black);
}
.navbar .logo span {
    color: var(--main-color);
    font-size: 3rem;
}
.navbar ul {
    display: flex;
    align-items: center;
}
.navbar ul li a {
    padding: 1rem 2.5rem;
    background-color: transparent;
    margin: 0 6px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    border-radius: 4px;
}
.navbar ul li.active2 a {
    background-color: var(--main-color);
    color: var(--white);
}

.navbar ul li a:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.navbar ul button {
    background-color: var(--white);
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}
.navbar ul button i {
    font-size: 2.2rem;
    background-color: transparent;
    color: var(--black);
}

.navbar ul button i:hover {
    opacity: .5;
}
.search {
    background-color: var(--main-color);
    position: absolute;
    top: 110px;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
}
.search input {
    padding: 1rem 2rem;
    border-radius: 2px;
    font-size: 1.5rem;
    width: 400px;
}
.search i {
    font-size: 2.5rem;
    background-color: var(--light-bg);
    padding: .9rem 1rem;
    border-radius: 3px;
    margin-left: 1rem;
}
#menuBar {
    font-size: 3rem;
    color: var(--black);
    display: none;
}
#menuBar:hover {
    opacity: .5;
}
/* ===== Header Section End===== */

/* ===== Home Section Start===== */
.home {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: url('/images/banner2.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home h1 {
    font-size: 7rem;
    letter-spacing: 3px;
    font-weight: 900;
    color: transparent;
    margin-bottom: 1rem;
    -webkit-text-stroke-color: var(--main-color);
    -webkit-text-stroke-width: 2px;

}
.home h3 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 1rem;
}
.homeInput {
    background-color: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 4px;
    display: flex;
    gap: 1rem;
}
.homeInput input {
    border-right: var(--border);
    font-size: 1.5rem;
    color: var(--black);
}
.homeInput select {
    padding: 0 2rem;
    font-size: 1.5rem;
    color: var(--black);
}
.homeSearchBtn {
    background-color: var(--main-color);
    margin-top: 1.5rem;
    padding: 1rem 2.5rem;
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.homeSearchBtn:hover {
    background-color: var(--light-bg);
    color: var(--black);
}

/* ===== Footer Section Start ===== */

.footer {
    width: 100%;
    margin-top: 2rem;
}
.subscribe {
    height: 120px;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.767), rgba(78, 3, 59, 0.925)),
    url('/images/smallFoot.png');
    /* background-size: cover; */
    background-position: center;
    /* background-color: rgba(0, 0, 0, .5); */
    /* opacity: .5; */
    position: relative;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.subscribe h3 {
    color: var(--white);
    font-size: 2.5rem;
}
.subscribe p {
    color: var(--white);
    font-size: 1.5rem;
}
.subscribe input {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: 300px;
    border-radius: 3px;
}
.subscribe input:focus {
    border: 2px solid var(--main-color);
}
.subscribe button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 3px;
    background-color: var(--main-color);
}

.footerInfo {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    justify-items: center;
    padding: 8rem 10% 2rem;
    background-image: url('/images/footer.jpg');
    color: var(--white);
}

.info1 .logo {
    color: var(--white);
}
.info1 p{
    font-size: 1.5rem;
    margin: 3rem 0;
    font-weight: 500;
}
.info1 .social {
    display: flex;
    gap: 2rem;
}
.social i {
    width: 50px;
    height: 50px;
    background-color: var(--black);
    font-size: 3rem;
    color: var(--white);
    text-align: center;
    line-height: 1.6;
    border-radius: 50%;
}
.social i:hover {
    background-color: var(--main-color);
}
.info h3 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--white);
    margin-bottom: 3rem;
}
.info p {
    font-size: 1.3rem;
    padding: .5rem 0;
}
.info p a {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}
.info p:hover {
    transform: translateX(5px);
}
.storeImg {
    width: 150px;
    height: auto;
}
.copyright {
    margin-top: 3rem;
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--main-color);
    padding: 2rem 0;
}
.copyright p {
    font-size: 1.5rem;
}
.copyright p span {
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.6rem;
}
.copyInfo {
    display: flex;
    gap: 2rem;
}
.copyInfo a {
    color: var(--main-color);
    font-size: 1.5rem;

}
/* ===== Footer Section End ===== */


/* ===== E-Learning Section Start ===== */
.e-learning {
    margin-top: 5rem;
}
.e-heading {
    text-align: center;
    margin: 4rem 0;
}
.e-heading h2 {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--black);
    font-weight: 600;
}
.e-heading p {
    font-size: 1.5rem;
}
.e-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3rem;
    margin-top: 5rem;
}
.e-cards .card {
    padding: 2rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
.e-cards .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white);
}
.card div {
    text-align: center;
    margin: 1rem 0;
}
.card i {
    font-size: 8rem;
    text-align: center;
}
.card h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.card p {
    font-size: 1.4rem;
}

/* ===== E-Learning Section End ===== */


/* ====== Popular Online Course Section start ===== */
.coursesContainer {
    margin-top: 5rem;
}
.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 3rem;
}
.course {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.course:hover img {
    transform: scale(1.1);
}
.course-info {
    padding: 2rem;
    line-height: 2;
}
.course-info h3 {
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}
.course-info h5 {
    font-size: 1.4rem;
    color: var(--main-color);
}
.course-info p {
    color: var(--black);
    font-size: 1.4rem;
}
.course-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: var(--border);
    padding-top: 10px;
}
.course-rating div i {
    font-size: 1.6rem;
    color: #f1c40f;
}
.course-rating div span {
    color: var(--black);
    font-size: 1.6rem;
}

.seeAllCourseBtn {
    text-align: center;
    margin-top: 3rem;
}
.seeAllCourseBtn a {
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--main-color);
    padding: 1rem 2.5rem;
    border-radius: 5px;
}
.seeAllCourseBtn a:hover {
    background-color: var(--black);
    color: var(--white);
}
/* ====== Popular Online Course Section end ===== */



/* ====== Registration Section Start ===== */
.registration {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.767), rgba(78, 3, 59, 0.925)),
    url('/images/registration-image.jpg');
    background-size: cover;
    background-position: center;
    height: 550px;
    margin: 3rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}
.regiTest {
    color: var(--white);
    flex-basis: 50%;
}
.regiTest h2 {
    font-size: 4rem;
    margin: 2rem 0;
}
.regiTest p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.years {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.year h1 {
    font-size: 5rem;
}
.year h4 {
    font-size: 1.7rem;
}

form {
    height: 100%;
    background-color: var(--white);
    width: 400px;
    padding: 2rem;
}
form h2 {
    font-size: 3rem;
    color: var(--black);
    text-align: center;
    margin-bottom: 1rem;
}

form input {
    display: block;
    border: var(--border);
    padding: 1.2rem 2rem;
    width: 100%;
    margin: 2rem 0;
    border-radius: 3px;
    font-size: 1.5rem;
    color: var(--black);
}
form select {
    display: block;
    border: var(--border);
    padding: 1.2rem 2rem;
    width: 100%;
    margin: 2rem 0;
    border-radius: 3px;
    font-size: 1.5rem;
    color: var(--black);
}
form textarea {
    display: block;
    border: var(--border);
    padding: 1.2rem 2rem;
    width: 100%;
    margin: 2rem 0;
    border-radius: 3px;
    font-size: 1.5rem;
    color: var(--black);
}
form input[type="submit"] {
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}
form input[type="submit"]:hover {
    background-color: var(--black);
    color: var(--white);
}
form select option {
    color: var(--black);
}

/* ====== Registration Section end ===== */



/* ====== Event Section Start ===== */

.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 4rem;
    margin-top: 3rem;
}
.event {
    border-radius: 5px;
    overflow: hidden;
}
.event:hover .eventDate {
    background-color: var(--main-color);
    color: var(--white);
}
.event:hover {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}
.event:hover img {
    transform: scale(1.1);
}

.eventInfo {
    display: flex;
    gap: 2rem;
    margin: 3rem 0;
}
.eventDate {
    width: 90px;
    height: 60px;
    /* background-color: var(--white); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--black);
}
.eventLocation h2 {
    font-size: 1.7rem;
    color: var(--black);
    margin-bottom: 10px;
}
.eventLocation div i {
    font-size: 1.5rem;
    color: var(--main-color);
}
.eventLocation div span {
    font-size: 1.5rem;
}
.eventLocation p {
    font-size: 1.3rem;
    margin-top: 10px;
}
.timegap {
    margin-right: 2rem;
}

/* ====== Event Section end ===== */



/* ====== Best Teacher Section Start ===== */

.teachers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3rem;
    margin-top: 10rem;
}
.teacher {
    background-color: var(--white);
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}
.steve {
    position: relative;
    top: -70px;
    border-radius: 10px;
}
.teacherInfo {
    position: absolute;
    width: 100%;
    top: 60%;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.5;
}
.teacherInfo h3 {
    font-size: 2.3rem;
    color: var(--black);
}
.teacherInfo p {
    font-size: 1.4rem;
    color: var(--black);
}
.teacherContact {
    text-align: center;
}

.teacherContact i {
    font-size: 2rem;
    padding: 5px;
    margin-right: 5px;
    color: var(--black);
}
.teacherContact i:hover {
    color: var(--main-color);
}


/* ====== Best Teacher Section End ===== */




/* ===== News Section Start ===== */

.newses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 4rem 0;
}
.newsImage {
    border-radius: 5px;
    line-height: 2;
}
.newsImage img {
    border-radius: 10px;
}
.newsImage h2 {
    font-size: 2rem;
    color: var(--main-color);
}
.newsAdmin {
    display: flex;
    gap: 3rem;
    /* padding: 0 1rem; */
    color: var(--black);
    font-size: 1.5rem;
}
.newsImage p {
    color: var(--black);
    font-size: 1.4rem;
}
.newsImage a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--main-color);
    text-decoration: underline;
}

.newsInfo {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.news {
    padding-bottom: 2rem;
    border-bottom: var(--border);
}
.news h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--black);
}

/* ===== News Section End ===== */


/* ====== Why Choose Us Section Start ===== */

.chooseContainer {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 4rem;
    margin: 5rem 0;
    align-items: center;
}
.details {
    flex-basis: 50%;
}
.details details {
    width: 100%;
    color: var(--black);
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.details details summary {
    font-size: 2.7rem;
    font-weight: 600;
}
.details details p {
    font-size: 1.4rem;
    padding-left: 2.5rem;
}
.video {
    flex-basis: 50%;
}

/* ====== Why Choose Us Section End ===== */


/* ====== Sponser Section Start ===== */
.sponser {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3rem;
}
.sponser div:hover img {
    transform: scale(1.1);
}
/* ====== Sponser Section End ===== */


/* ======= Blog Section Start ====== */

.blogsContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 4rem;
    margin-top: 10rem;
    /* overflow-x: hidden; */
    grid-template-areas: 
        "m m m m c c c c c c c c"
    ;
}
.blogMenu {
    grid-area: m;
}
.blogs {
    grid-area: c;
}
.blog {
    margin-bottom: 6rem;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 5px;
}
.blog:hover {
    box-shadow: var(--box-shadow);
}
.blogImg {
    position: relative;
}
.blogText {
    position: absolute;
    bottom: 30px;
    left: 50px;
}
.blogText h4 {
    font-size: 1.7rem;
    color: var(--main-color);
}
.blogText h1 {
    color: var(--main-color);
    font-size: 3rem;
}
.blogLogo {
    width: 150px;
    mix-blend-mode: multiply;
}
.blogDate {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 4rem 0;
}
.blogDate div {
    display: flex;
    align-items: center;
}
.blogDate div span {
    font-size: 1.7rem;
    margin-left: 5px;
    color: var(--main-color);
    cursor: pointer;
}
.blogDate div i {
    font-size: 1.7rem;
    color: var(--black);
}
.blogDate div img {
    width: 40px;
    border-radius: 50%;
}

.blog p {
    font-size: 1.6rem;
    line-height: 2;
}
.blog button {
    border: var(--border);
    margin-top: 2rem;
    padding: 1.5rem 2.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--main-color);
    cursor: pointer;
}
.blog button:hover {
    background-color: var(--black);
    color: var(--white);
}

.blogmenuInfo p {
    font-size: 1.6rem;
    color: var(--black);
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    /* border-bottom: var(--border); */
}
.blogmenuInfo input {
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.blogSocial {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
    margin: 2rem 0 4rem;
}
.blogSocial i {
    /* background-color: var(--black); */
    color: var(--main-color);
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 3rem;
}
.blogSocial i:hover {
    opacity: .6;
}
.featureImg{
    position: relative;
}
.featureText {
    position: absolute;
    top: 0;
}
.featureText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.featureText button {
    margin: 2rem 0;
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--black);
    border-radius: 5px;
}
.featureText div {
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}
.featureText div p {
    margin-top: 5rem;
}
.tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 3rem 0;
}
.tags button {
    background-color: var(--main-color);
    color: var(--white);
    padding: 8px 1rem;
    border-radius: 5px;
}
.tags button:hover {
    background-color: var(--black);
}
.blogSubscribe {
    line-height: 2;
}
.blogSubscribe h3 {
    font-size: 2.5rem;
    color: var(--black);
}
.optional {
    border: var(--border);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--black);
    margin: 4rem 0;
    opacity: .6;
}
.blogCopyright h4 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.featuredImg {
    width: 100px;
    border-radius: 50%;
    border: 5px solid var(--main-color);
}

/* ======= Blog Section End ====== */


/* ===== Pages Section Start ==== */
    .pages {
        width: 100%;
        height: 100vh;
        background-color: var(--light-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pages h1 {
        font-size: 5rem;
        color: var(--white);
        font-weight: 900;
        letter-spacing: 3px;
    }
/* ===== Pages Section Start ==== */


/* ====== Contact Section Start ===== */
.googleMap {
    padding-bottom: 50%;
    position: relative;
}
.googleMap iframe {
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;
    position: absolute;
}

.contact {
    display: flex;
    gap: 4rem;
    /* align-items: center; */
    justify-content: center;
}
.contact-form {
    /* padding: 2rem; */
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
}
.contact-form h1 {
    font-size: 3.5rem;
    color: var(--black);
    margin-bottom: 1rem;
}
.contact-form label {
    font-size: 1.6rem;
    font-weight: 500;
}
.contactInfo {
    padding: 0 3rem;
}
.contactInfo h1 {
    font-size: 3.5rem;
    color: var(--black);
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.contactInfo p  {
    font-size: 1.5rem;
    color: var(--black);
}
.contactInfo div {
    margin: 3rem 0;
}
.contactInfo div h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
}
.contactInfo div p {
    line-height: 2;
}

/* ====== Contact Section End ===== */






















/* ==== Mobile Device === */

@media screen and (max-width: 1024px) {
    .headerInfo {
        padding: 0 2rem;
    }
    .navbar {
        padding: 1rem 2rem;
    }
    .navbar ul li a {
        padding: 10px 1rem;
    }
    .home h1 {
        font-size: 5rem;
    }
    .subscribe {
        padding: 0 5%;
    }
    .footerInfo {
        padding: 8rem 5% 2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 3rem;
    }
    .social i {
        width: 40px;
        height: 40px;
        font-size: 2.5rem;
    }
    .e-cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 2rem;
    }
    .teachers {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .teacher {
        height: 260px;
    }
    .teacherInfo {
        top: 55%;
    }
    .blogSocial i {
        padding: 1rem;
    }
}


@media screen and (max-width: 800px) {
    .headerInfo {
        display: none;
    }
    .navbar {
        top: 0;
        position: relative;
    }
    .navlist {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -400px;
        right: 0;
        background-color: var(--white);
        width: 400px;
        height: 370px;
        /* display: none; */
    }
   .navlist.active {
    top: 70px;
   }
    .navbar ul li {
        margin-top: 2rem;
    }
    .navbar ul button {
        margin-top: 2rem;
    }
    #menuBar {
        display: block;
        position: absolute;
        top: 18px;
        right: 2rem;
    }
    .home h1 {
        text-align: center;
    }
    .search {
        display: block;
        z-index: 1;
        width: 250px;
        padding: 1rem;
        top: 150px;
        display: none;
    }
    .search input {
        width: 150px;
    }
    .subscribe {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 150px;
    }
    .subscribe h3 {
        text-align: center;
    }
    .e-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
    .coursesContainer {
        margin-top: 0;
    }
    .registration {
        height: 100%;
        flex-direction: column;
        width: 100%;
    }
    .footerInfo {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        justify-items: flex-start;
    }
    .regiTest {
        text-align: center;
    }
    .years {
        align-items: center;
        justify-content: center;
    }
    .teachers {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .teacher {
        width: 90%;
        position: relative;
        margin: 5rem auto 0;
    }
    .steve {
        width: 65%;
        left: 50px;
    }
    .newses {
        display: flex;
        flex-direction: column;
    }
    .chooseContainer {
        flex-wrap: wrap;
    }
    .details {
        flex-basis: 100%;
    }
    .video {
        flex-basis: 100%;
    }
    .sponser {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .blogsContainer {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "c c c c c c"
            "m m m m m m"
        ;
        margin-top: 3rem;
    }
    .contact {
        flex-direction: column;
    }

}

@media screen and (max-width: 500px) {
    .home h1 {
        font-size: 3rem;
        text-align: center;
    }
    .home h3 {
        font-size: 2rem;
    }
    .homeInput {
        flex-direction: column;
        gap: 3rem;
        background-color: transparent;
    }
    .homeInput input {
        padding: 1rem 2rem;
    }
    .homeInput select {
        padding: 1rem 2rem;
    }
    .subscribe {
        height: 250px;
    }
    .subscribe h3 {
        text-align: left;
    }
    .footerInfo {
        justify-items: flex-start;
    }
    .copyright {
        flex-direction: column;
        gap: 3rem;
    }
    .registration {
        padding: 2rem;
    }
    form {
        width: 350px;
    }
    .sponser {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}



@media screen and (max-width: 350px) {
    form {
        width: 300px;
    }
}